$color-white: #ffffff;
$color-black: #000000;
$color-lighten-black: #3F3F3F;
$color-dark-purple: #49485E;
$color-gray: #EEEEEE;
$color-dark-gray: #B4B4B4;
$color-primary: #FFFEFB;
$color-pink: #FF8484;
$color-primary-bg: #FAF9F7;
$color-green: #7BAE73;
